---
import PageLayout from "@/layouts/Base";
// import { getAllPosts, getUniqueTagsWithCount } from "@/utils";
import { getAllTagsWithCounts } from "@/lib/notion/client";

// const allPosts = await getAllPosts();
// const allTags = getUniqueTagsWithCount(allPosts);
//FIXME: later for only getting tags used in posts
const allTags = await getAllTagsWithCounts();

const meta = {
	title: "All Tags",
	description: "A list of all the topics I've written about in my posts",
	ogImage: "/og-image/tagsindex--index.png",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Tags</h1>
	<ul class="space-y-4">
		{
			allTags.map((tag) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/tags/${tag.name}/`}
						title={`View posts with the tag: ${tag.name}`}
						rel="prefetch"
					>
						&#35;{tag.name}
					</a>
					<span class="inline-block">
						- {tag.count} Post{tag.count > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
