---
import PageLayout from "../layouts/Base.astro";
import PostPreview from "../components/blog/PostPreview.astro";
import {
	downloadFile,
	getAllBlocksByBlockId,
	getBlock,
	getPages,
	getRankedPosts,
} from "@/lib/notion/client";
import { extractTargetBlocks } from "../lib/blog-helpers";
import NotionBlocks from "../components/NotionBlocks.astro";
import type { Post } from "../lib/interfaces";

// import { siteConfig } from "@/site-config";
// import { siteInfo } from "@/utils";
import { siteInfo } from "@/siteInfo";

export async function getStaticPaths() {
	const pages = await getPages();

	return pages.map((page) => ({
		params: { page: page.Slug === siteInfo.homePageSlug ? undefined : `/${page.Slug}` },
		props: { page },
	}));
}

interface Props {
	page: Post;
}

const { page: slug } = Astro.params;
const { page } = Astro.props;

if (!page) {
	throw new Error("Page not found");
}
//NOTE: later if i want posts on my home page which i very well might!
// const [blocks, rankedPosts] = await Promise.all([
// 	getAllBlocksByBlockId(page.PageId),
// 	getRankedPosts(),
// ]);

const blocks = await getAllBlocksByBlockId(page.PageId);

const fileAtacchedBlocks = extractTargetBlocks("image", blocks)
	.concat(extractTargetBlocks("video", blocks))
	.concat(extractTargetBlocks("file", blocks))
	.concat(extractTargetBlocks("audio", blocks))
	.filter((block) => {
		if (!block) {
			return false;
		}
		const imageOrVideoOrAudioOrFile = block.NImage || block.File || block.Video || block.NAudio;
		return (
			imageOrVideoOrAudioOrFile &&
			imageOrVideoOrAudioOrFile.File &&
			imageOrVideoOrAudioOrFile.File.Url
		);
	});

// Download files
await Promise.all(
	fileAtacchedBlocks
		.map(async (block) => {
			const expiryTime = (block.NImage || block.File || block.Video || block.NAudio).File
				.ExpiryTime;
			if (Date.parse(expiryTime) > Date.now()) {
				return Promise.resolve(block);
			}
			return getBlock(block.Id);
		})
		.map((promise) =>
			promise.then((block) => {
				let url!: URL;
				try {
					url = new URL((block.NImage || block.File || block.Video || block.NAudio).File.Url);
				} catch (err) {
					console.log("Invalid file URL");
					return Promise.reject();
				}
				return Promise.resolve(url);
			}),
		)
		.map((promise) => promise.then(downloadFile)),
);
---

<PageLayout
	meta={{
		title: page.Title || siteInfo.title,
		description: page.Excerpt || siteInfo.description,
		ogImage: `/og-image/${page.Slug}.png`,
	}}
>
	<section>
		<NotionBlocks blocks={blocks} isRoot={true} />
	</section>
	<!-- {
    //NOTE: This added a recent posts thing to my page. I can add it back later if needed
		!slug && (
			<section aria-label="Blog post list" class="mt-16">
				<h2 class="title mb-4 text-xl">Posts</h2>
				<ul class="space-y-4 sm:space-y-2">
					{rankedPosts.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))}
				</ul>
			</section>
		)
	} -->
</PageLayout>
