---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import { siteInfo } from "@/siteInfo";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title = siteInfo.title, description = siteInfo.description, ogImage, articleDate },
} = Astro.props;

// console.log(siteInfo);
---

<html lang={siteInfo.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
	</head>
	<body>
		<SkipLink />
		<Header />
		<main id="main" class="lg:w-[125%]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
